body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #222;
    padding: 20px;
    border-radius: 15px;
    width: 260px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}



.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    background: #333;
    border: none;
    border-radius: 8px;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #444;
}

.equal {
    grid-column: span 1;
    background: #09f;
}

.equal:hover {
    background: #08c;
}

.zero {
    grid-column: span 2;
}


.display {
    width: 100%;
    height: 70px;
    background: #000;
    color: #00ff44;
    font-size: 2.4em;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: right;
    margin-bottom: 20px;
}



